:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-very-dark-green: #324B29;
    --color-dark-green: #134E1C;
    --color-green: #0D4D14;
    --color-green-text: #0D4C14;
    --color-bright-green: #4DB96B;
    --color-light-green: #48924F;
    --color-very-light-green: #6CB981;
    --color-transparent-green: #9FDEA9;
    --color-grey: #828282;
    --color-light-grey: #E5E5E5;
    --color-dark-grey: #333333;
    --color-shadow-black: #10331E1A;
    --color-shadow-dark-green: #10331E80;
    --contact-us-background-color: #FCFCFC;
}